.grid-body {
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    min-height: 100vh;
    grid-template-areas:  
    'NAV MAIN ASIDE';    /*  grid-auto- */

}


header, nav, main, aside, footer {
    padding: 20px;
    border: 1px solid black;
}


header{
width: 100vw;
background-color: #48e;

}

nav {
    grid-area: NAV;
    max-width: 300px ;
}

main {
    grid-area: MAIN;
}


aside {
    grid-area: ASIDE;
}

footer{
    width: 100vw;
    background-color: #000;
    color: #fff;
    text-align: center;
}