/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    grid-template-rows: repeat(3,200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    /* grid-auto-flow: dense; ---> investigar */
    
    
   /*  
    grid-auto-columns: 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
    min-height: 100vh;
} */


/* 
.grid-item{
    background-color: #48e;
    font-size: 30px;
    border-radius: 16px;
    background-image: url('/clases-html/04-imagenes/laravel.png');
    background-size: cover;
    background-position: center;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}


.grid-item:nt-child(10){
    grid-area: span;
} */



body {
    display: grid;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    min-height: 100vh;
    grid-template-areas: 
    'HEADER HEADER HEADER' 
    'NAV MAIN ASIDE'
    'FOOTER  FOOTER FOOTER';
   /*  grid-auto- */

}


header, nav, main, aside, footer {
    padding: 20px;
    border: 1px solid black;
}


header{
    grid-area: HEADER;
}

nav {
    grid-area: NAV;
    max-width: 300px ;
}

main {
    grid-area: MAIN;
}


aside {
    grid-area: ASIDE;
}

footer{
    grid-area: FOOTER;
}