body {
    margin: 0;
}


.flexbox {
    background-color: lightblue;
    margin-top: 10px;
    border: solid 1px black;
    display: flex; /*con esta propiedad, automaticamente los flex-items del div flexbox, se vuelven flexibles*/
    width: 650px;
    height: 350px;

    flex-direction: row; /*esta es la dirección flex por defecto de un flexbox. Los flex items se organizan de izquierda a derecha*/
     flex-wrap: nowrap; /*Permite que los elementos se coloquen en la sigueinte fila del flex-row, si ya no caben en la primer fila por temas de ancho*/
     

    /*  flex-flow: column nowrap; /* Esta propiedad sirve para definir el valor del flex-direction y el flex-wrap de una caja flexible en una sola linea*/
     
     
     
     /*Se usa para una linea o muchas lineas en el eje principal. Me permite distribuir el espacio que sobra en la caja flexible de diferentes formas: 
     start, end, center, spacee-around, space-between, space-evenly, */
     justify-content: space-between;

     

    /* Alinea los elementos dentro de una línea en el eje cruzado. Los valores son diferentesa justify- content: stretch, baseline... etc. ; 
    */
      align-items: start;
 



     /*
     Se usa para muchas lineas en el eje cruzado. Le podemos dar el valor start, center, end, space-between, space-arround, sepace-evenly.
     . Solo tiene efecto si hay flex-wrap: wrap y varias líneas;
     */
        align-content: end;
}





/*
Por defecto, cuando un elemento es un flex item, el display: flex de su contenedor padre 
o permite que crezca a lo alto, si le permite encoger o reducir el ancho, pero
la altura de los flex item no se puede modificar.
*/

.flex-item {
    width: 100px;
    height: 100px;
    background-color: springgreen;
    margin: 8px;
    text-align: center;
    border: solid 1px black;
}


.flex-item:first-child {
    background-color: chocolate;
    /* font-size: 40px ; */
}



.flexbox-column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    margin: 5px;
    width: 250px;
    height: 300px;
    border: solid 1px black;
    background-color: red;
    align-items: end;

    /* align-content: start; */
    justify-content: start;
}



.flexbox-column-item{
    margin: 3px;
    width: 65px;
    height: 65px;
    background-color: #FFF;
    border: solid 2px black;
}

