.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
}

.box-default
{
box-sizing: content-box;
padding: 25px;
border: 10px solid black;
}

.box-new {
box-sizing: border-box;
padding: 25px;
}