
.caja-flexible{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 320px;
    height: 320px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.caja-flexible-item {
    border: solid 2px #fff;
    width: 10px;
    height: 20px;
    background-color: cornflowerblue;
    color: #fff;
}
