* {
    box-sizing: border-box;
}


body, div, ul, li, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}



body{
    /*Definiendo variables para los colores de mi pagina */

    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --sidebar-color: #fff;
    --dark-color: #f62;
    background-color: var(--bg-color);
}


.sidebar {
    background-color: var(--sidebar-color);
    width: auto;
}

/* SIDEBAR styles */ 
.item-sidebar{
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    color: var(--dark-color);
}