div {
    box-sizing: border-box;
}


.box {
    margin: 20px;
    background-color: #fff;
    border-radius: 40px;
    border: 4px solid #48e;
    padding: 6px;
}


.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}


 .barra:active {
   animation-play-state: running;
}


@keyframes llenar-barra{

    from {
        width: 0%;
    }

    to {
        width: 100%;
        background-color: #f33;
    }

}
