*{
    box-sizing: border-box;
    scroll-behavior: smooth; /* Permite generar un scroll pausado en toda la página */
}


body{
    background-color: #e2eaff;
    color: #101632dd;
}


body, div, header, nav, ul, li, footer, label, a {
    margin: 0;
    padding: 0;
}


/*
========= Mobile First ==========
*/




/*
------- Header - Mobile -------
*/


.header{
 background-color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;  
 container-type: inline-size;
 container-name: header;
}


#open-menu{
    display: none;
} 


/* label con role:button. Su atributo rol apunta al checkbox type checked del header*/
.label-open-menu{
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute; /*Se queda posicionado de forma absoluta respecto al initial containing block, es decir el viewport. */
    right: 10px; /* Esta propiedad hará que que se ubique 10 px hacia la derecha*/
    z-index: 200;
}





/*
Un elemento con position: fixed o absolute puede ser “estirado” usando offsets (top/right/bottom/left).
*/

.nav-header {

    position: fixed; /* Para que el nav del header se posicione respecto al viewport */
    inset: 0; /* Equivale a: right=0, leght=0, top=0, botton=0 */
    z-index:150;
    justify-content:center;
    align-items:center;
    display:none;
    background-color: #fff;
}


.nav-header .nav-header-items {
 /*    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
     margin: auto; */


     display:flex;
    flex-direction:column;
    gap:6rem;
    list-style: none;
}

.nav-header .nav-header-items a{
text-decoration: none;
color: #48e;
}


.nav-header .nav-header-items a:hover, a:active{
text-decoration: underline;
}

/*
Si el input checkbox esá chequeado, vamos a mostrar 
los items de navHeader. Usamos la virgulilla para indicar que
el selector a definir es un elemento hermano del chekcbox
*/
.header #open-menu:checked  ~ .nav-header{
    display: flex;
}

.logo-header {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}




/*
------ Profile section: mobile ------------
*/

.profile{
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 3s -.6s;
}


.profile__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
}


.profile__img-container{
    max-height: 500px;
    overflow: hidden;
}

.profile__img-container img{
    width: 99% !important;
    margin: 2px;
}



.profile__data-container{
    max-height: 600px;
    padding: 12px;
}


.profile__description h1 {
        color: #26a;
}


.profile__skill{
    list-style: none;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 0;
    margin-bottom: 12px;
    justify-content: start;
    align-items: center;

}

.profile__skills-container h2{
    color: #26a;
}


/*
 load bar: 
*/
.profile__skill .load__bar{
    border: solid 1px #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    /* margin: 4px; */
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
    
}

.load__bar .bar--80{
    width: 80%;
}


.load__bar .bar--60{
    width: 60%;
}


.load__bar .bar--35{
    width: 35%;
}



.profile__skill-name {
    color: #48e;
    margin-left: 7px;
}


/*
------ Portfolio section: mobile ------------
*/

.portfolio{
    background-color: #18233f;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}

.portfolio-title{
    font-size: 3rem;
}


.portfolio__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    width: 100%;
    margin: auto;
    gap: 12px;
    padding: 12px;
    min-height: 90vh;
}

.portfolio__project{
  /*   margin: 8px; */
background-image: linear-gradient(#0009, #0009), url('../img/luchito.jpg');
background-position: center;
background-size: cover;
place-content: center;
border-radius: 16px;

animation: aparecer both;
animation-timeline: view();
animation-range: cover 10% cover 50%
}

.portfolio_project:hover {
    opacity: 0.74;
    outline: 2px solid #fff6;
}



/*
------ Formulario de contacto: mobile ------------
*/

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    container-type: inline-size;
    container-name: formulario_contacto;


    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 20% contain 50%
}


.form .form__form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.form__input-container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}


.form__input-container input,
.form__input-container textarea
{
width: 100%;
padding: 9px 6px;
font-size: 16px;
margin: 4px;
border: none;
box-shadow: 2px, 2px, 4px, #0003;
}




.form__input-container textarea{
    resize: none;
    min-height: 120px;
    font-family: inherit;
}


#btn-enviar{
    width: 100%;
    border: none;
    padding: 12px;
    background-color: #48e;
    color: #fff;

}



/*
---- footer: mobile ----
*/

.footer-section{
    background-color: #18233f;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}


.footer-section a{
    color: #fff;
}



/*
======== Desktop =========
*/



/*
-------- Header - Desktop --------
*/

@media screen and (min-width: 992px) {
 /*  body {
    background-color: lightblue;
  } */

.label-open-menu {
    z-index: 0 !important;
    display: none !important;
}



.header{
 padding: 20px 0;
 animation: header-movement both;
 animation-timeline: scroll();
 position: sticky;
 top: 0;
 animation-range: 10px 100px;
}


  .nav-header {

    position: static !important; /* Para que el nav del header se posicione respecto al viewport */
    inset: none !important; /* Equivale a: right=0, leght=0, top=0, botton=0 */
    z-index: none;
    background-color: transparent;
    display: flex !important;
    flex-flow: row nowrap;
    justify-content:center !important;
    align-items:center;
}


.nav-item-link a {
    color: inherit;
    text-decoration: none;
}


.nav-header 
.nav-header-items {
 /*    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
     margin: auto; */


     display:flex;
    flex-flow: row nowrap !important;
    justify-content: start;
    gap: 3rem;
    list-style: none;
    margin-right: 40px;
}

}



@container header (min-width: 992px){



}



/*
-------- profile Main - Desktop --------
*/

@container profile (min-width: 600px) {  
    
    .profile__wrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: start ;
        padding: 20px;
        background-color: transparent;
        max-height: 540px; 
        margin: auto;
}

.profile__data-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0px 25px 25px 0;
    box-shadow: 0px 0px 9px #0002;
}

h1{
/*  margin-top: 0; */
 font-size: 4rem;
 text-wrap: balance;
}

.profile__data{
    max-width: 620px;
}

    .profile__img-container {
        height: 100%;
        border-radius: 25px 0 0 25px;
    } 

    .profile__img-container img{
        height: 100%;
       /*  object-fit: cover; */

        width: 620px !important;
        margin: 0 !important;
    }

}


/*
-------- Portfolio section: Desktop --------
*/

@container portfolio (min-width: 56.25rem) {
    .portfolio__project-container {
    display: grid;
    /* grid-template-columns: repeat(2,2fr); */
    grid-template-columns: repeat(auto-fill,minmax(420px, 1fr));
    /* grid-template-rows: repeat(3);
    max-width: 1300px;
    width: 100%;
    margin: auto;
    gap: 12px;
    padding: 12px;
    min-height: 90vh; */
    }

    .portfolio__project:first-child{
        grid-column: span 2;
    }
    
    .portfolio__project:nth-child(6){
        grid-column: span 2;
    }
}



/*

----- Formulario de contacto: Desktop ------

*/
@container formulario_contacto (min-width: 56.25rem) {


}




/*
--- Animaciones ---
*/

@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
    }

    to {
        padding: 0;
        background-color: #10163266;
        color: #fff;
    }
}




@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
         opacity: 1;
    }
}