*{
    box-sizing: border-box;
}


body{
    background-color: #e2eaff;
    color: #101632dd;
}


body, div, header, nav, ul, li, footer, label, a {
    margin: 0;
    padding: 0;
}


/*
========= Mobile First ==========
*/




/*
------- Header - Mobile -------
*/


.header{
 background-color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;  
 container-type: inline-size;
 container-name: header;
}


#open-menu{
    display: none;
} 


/* label con role:button. Su atributo rol apunta al checkbox type checked del header*/
.label-open-menu{
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute; /*Se queda posicionado de forma absoluta respecto al initial containing block, es decir el viewport. */
    right: 10px; /* Esta propiedad hará que que se ubique 10 px hacia la derecha*/
    z-index: 200;
}





/*
Un elemento con position: fixed o absolute puede ser “estirado” usando offsets (top/right/bottom/left).
*/

.nav-header {

    position: fixed; /* Para que el nav del header se posicione respecto al viewport */
    inset: 0; /* Equivale a: right=0, leght=0, top=0, botton=0 */
    z-index:100;
    justify-content:center;
    align-items:center;

    display:none;
}


.nav-header .nav-header-items {
 /*    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
     margin: auto; */


     display:flex;
    flex-direction:column;
    gap:6rem;
    list-style: none;
}

.nav-header .nav-header-items a{
text-decoration: none;
color: #48e;
}


.nav-header .nav-header-items a:hover, a:active{
text-decoration: underline;
}

/*
Si el input checkbox esá chequeado, vamos a mostrar 
los items de navHeader. Usamos la virgulilla para indicar que
el selector a definir es un elemento hermano del chekcbox
*/
.header #open-menu:checked  ~ .nav-header{
    display: flex;
}

.logo-header {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}




/*
------ Profile section: mobile ------------
*/

.profile{
    container-name: profile;
    container-type: inline-size;
}


.profile__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #fff;
    max-width: 1400px;
}


.profile__img-container{
    max-height: 500px;
    overflow: hidden;
}

.profile__img-container img{
    width: 99% !important;
    margin: 2px;
}



.profile__data-container{
    max-height: 600px;
    padding: 12px;
}


.profile__description h1 {
        color: #26a;
}


.profile__skill{
    list-style: none;
    max-width: 600px;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 0;
    margin-bottom: 12px;
    justify-content: start;
    align-items: center;

}

.profile__skills-container h2{
    color: #26a;
}


/*
 load bar: 
*/
.profile__skill .load__bar{
    border: solid 1px #48e;
    border-radius: 8px;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    /* margin: 4px; */
}

.load-bar__bar {
    background-color: #48e;
    border-radius: 4px;
    padding: 4px 6px;
    
}

.load__bar .bar--80{
    width: 80%;
}


.load__bar .bar--60{
    width: 60%;
}


.load__bar .bar--35{
    width: 35%;
}



.profile__skill-name {
    color: #48e;
    margin-left: 7px;
}


/*
------ Portfolio section: mobile ------------
*/





/*
======== Desktop =========
*/



/*
-------- Header - Desktop --------
*/

@media screen and (min-width: 992px) {
 /*  body {
    background-color: lightblue;
  } */

.label-open-menu {
    display: none !important;
}


  .nav-header {

    position: static !important; /* Para que el nav del header se posicione respecto al viewport */
    inset: none !important; /* Equivale a: right=0, leght=0, top=0, botton=0 */
    z-index: none;
    
    display: flex !important;
    flex-flow: row nowrap;
    justify-content:center !important;
    align-items:center;
}


.nav-header 
.nav-header-items {
 /*    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
     margin: auto; */


     display:flex;
    flex-flow: row nowrap !important;
    justify-content: start;
    gap: 3rem;
    list-style: none;
    margin-right: 40px;
}

}



@container header (min-width: 992px){



}



/*
-------- profile Main - Desktop --------
*/

@container profile (min-width: 600px) {  
    
    .profile__wrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: start ;
        padding: 20px;
        background-color: transparent;
        max-height: 540px; 
        margin: auto;
}

.profile__data-container{
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 0px 25px 25px 0;
    box-shadow: 0px 0px 9px #0002;
}

h1{
/*  margin-top: 0; */
 font-size: 4rem;
 text-wrap: balance;
}

.profile__data{
    max-width: 620px;
}

    .profile__img-container {
        height: 100%;
        border-radius: 25px 0 0 25px;
    } 

    .profile__img-container img{
        height: 100%;
       /*  object-fit: cover; */

        width: 620px !important;
        margin: 0 !important;
    }

}


