body {
    margin: 0;
}

.flexbox{
display: flex;
margin: 22px;
background-color: #FFF;
/* width: 550px;
height: 350px; */
gap: 12px;
border: solid 1px black;
}


.flex-item {
    background-color: steelblue;
    border: solid 1px black;
    font-size: 45px;
    text-align: center;
     width: 100px;
}



.flex-item:first-child {
    order: 3; 
}



.flex-item:last-child {
    order: 1; 
}