/*Las imagenes flexibles se usan para que se puedan adaptar a la resolución de la pantalla en la que se encuentran
*/


/*
Esto hace que la imagen nunca se desborde y mantenga su proporción.
*/
img {
    max-width: 100%;
    width: auto;
    height: auto;
}


/*
Esta técnica se usa para que el video no se rompa en diferentes resoluciones.
Evita que el video se vea aplastado o raro en distintos tamaños.
*/
.contenedor-video{
    position: relative;
    max-width: 100%;
    aspect-ratio: 16/9;
}

video {
    position: absolute;
    max-width: 100%;
    height: 800px;
}