div {
    box-sizing: border-box;
}


.box {
    margin: 20px;
    background-color: #fff;
    border-radius: 40px;
    border: 4px solid #48e;
    padding: 6px;
}


.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    transition: width 1s linear;
}


.barra:active {
    width: 100%;
    transition-duration: 4s;
}